/* MAIN SECTION FULL HEIGHT */
.arj-split-section {
  display: flex;
}


/* LEFT IMAGE */
.arj-image-side {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 80vh;
}

/* RIGHT SIDE */
.arj-form-side {
  min-height: 80vh;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}



/* BANNER BOX */
.banner-wrapper-box {
  width: 100%;
  background: #f7f3ea;
  padding: 30px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
}

/* Header */
.info-header {
  background: #1f5d3a;
  color: #ffd700;
  font-weight: 700;
  font-size: 20px;
  padding: 14px;
  border-radius: 10px;
  margin-bottom: 20px;
}

/* List */
.info-list {
  padding-left: 18px;
  margin-bottom: 20px;
}

.info-list li {
  margin-bottom: 12px;
  font-weight: 500;
  color: #1b2a4e;
  font-size: 15px;
}

/* Stats */
.info-stat {
  background: #ffffff;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-weight: 600;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

/* Button */
.apply-btn {
  background: linear-gradient(90deg, #ffc800, #ff9800);
  border: none;
  font-weight: 600;
  padding: 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.apply-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(255, 152, 0, 0.4);
}

/* ================= RESPONSIVE ================= */

/* Tablet */
@media (max-width: 992px) {

  .arj-image-side {
    min-height: 80vh;
    background-size: cover;
  }

  .banner-wrapper-box {
    border-radius: 10px;
  }

  .arj-form-side {
    min-height: auto;
    padding: 30px;
  }

}

/* Mobile */
@media (max-width: 768px) {

  .arjFullWidth {
    padding: 0 !important;
  }

  .arj-image-side {
    min-height: 45vh;
    background-size: cover;
  }

  .arj-form-side {
    min-height: auto;
    padding: 0px 12px !important;
  }

  .banner-wrapper-box {
    padding: 22px;
  }

}

@media (min-width: 995px) and (max-width: 1326px) {
  .arj-image-side {
    min-height: 94vh;
    background-size: cover;
  }
}