.footer-strip {
  background: linear-gradient(180deg, #0d3c75, #0a2f5a);
  padding: 25px 0;
  color: #fff;
}

.strip-item {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
  padding: 15px;
  border-radius: 12px;
  transition: all 0.3s ease;
}

.strip-item:hover {
  background: rgba(255, 255, 255, 0.08);
  transform: translateY(-4px);
  filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 1.08));
  cursor: pointer;
}

.strip-icon {
  font-size: 28px;
  border-radius: 50%;
  transition: 0.3s;
}

.footerIcon{
  background: rgba(255, 255, 255, 0.15);
  padding: 10px;
  border-radius: 50%;
}

.strip-icon.ftrPhone{
  color: #00b0ff;
}
.strip-icon.whatsapp {
  color: #26eb6f;
}
.strip-icon.ftrMap{
  color: #EA4335;
}
.strip-icon.ftrForm{
  color: #e3c900;
}

.strip-item h6 {
  font-weight: 600;
  margin: 0;
}

.strip-item p {
  margin: 0;
  font-size: 13px;
  opacity: 0.85;
}

/* Mobile improvements */
@media (max-width: 767px) {
  .strip-item {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}


@media (max-width: 575px) {
  /* .strip-item {
    align-items: flex-start;
    text-align: left;
  } */

  .strip-item p {
    font-size: 11px;
  }
  .strip-icon {
    font-size: 25px;
  }
}






/* Icon circle */
.footerIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
}

/* Text spacing */
.strip-item h6 {
  margin-bottom: 4px;
}

/* ---------------- MOBILE VIEW ---------------- */
@media (max-width: 575px) {

  .strip-item {
    flex-direction: column;     /* icon on top */
    text-align: center;
    align-items: center;
  }

  .footerIcon {
    margin-bottom: 6px;
  }

  .strip-item p {
    font-size: 11px;
    line-height: 1.4;
  }
}


/*Fixed button footer */
.fixed-gat-btn {
  position: fixed;
  bottom: 5px;
  right: 15px;
  z-index: 1050;
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #28a745, #20c997);
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 10px 16px;
  font-size: 0.95rem;
  font-weight: 700;
  box-shadow: 0 12px 30px rgba(40, 167, 69, 0.4);
  cursor: pointer;
  animation: softPulse 2s infinite;
}

/* 🔴 DESKTOP & LARGE SCREENS → HIDE BUTTON */
@media (min-width: 992px) {
  .fixed-gat-btn {
    display: none;
  }
}

/* Animation */
@keyframes softPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.6);
  }
  70% {
    box-shadow: 0 0 0 14px rgba(40, 167, 69, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(40, 167, 69, 0);
  }
}
