/*=========================
   CSS RESET / BASE STYLES
========================= */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans Devanagari', sans-serif !important;
    font-weight: 300 !important;
    font-style: normal;
    /* user-select: none; */
}

html {
    scroll-behavior: smooth;
}

.page-wrapper {
    min-height: 100vh;
}

.nav-link {
    color: #fff !important;
    font-size: 16px !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #ffc107 !important;
}

.cstmBG {
    background: #F3F4F6;
}

.cstEngFont {
    font-family: 'Montserrat', sans-serif !important;
}